# ==========================================
# RAÍZ DEL REPOSITORIO: Opciones del Sistema y Editores
# ==========================================

# Archivos de entorno y credenciales (Bloqueo global de seguridad)
.env
.env.local
.env.*.local
*.env
*.pem
*.key
*.cert
secrets.json

# IDEs y Editores de Código
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store
Thumbs.db